h1{ 
    color:white;
    text-decoration: underline; 
}


body {
    background-image: url('https://preview.redd.it/3zud92017o961.png?auto=webp&s=4bb52104efbabc1d20054716b6b55b867698eed4');
    background-size:cover; /* Ajusta a imagem para cobrir todo o fundo */
 
    background-position: center; /* Centraliza a imagem no fundo */
    text-align: center;
    margin: 0;
    padding: 0;
 color: black;
    /*usando em todos */
 }

 #paragraph {
    text-align: left;
    font-size: larger;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
 }

 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    margin: 20px;
    /* em todos os parágrafos necessários */}

    h4{ 
        text-align: center;
        font-weight: bold;
        font-size: larger;
        margin: 20px;
        font-family: 'Times New Roman', Times, serif;

    }

    footer {
        background-color: white;
        color: black;
        text-align: center;
     padding: -5px;
     }
